name: build application

on:
  push:
    # :
    #   - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests
        run: |
          npm ci
          npm test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-artifact
          path: dist

  deploy:
    needs: build
    uses: ./.github/workflows/reusable.yml
    with:
      artifacts-name: test-artifact
  print-output:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: print deploy output
        run: | 
          ${{ needs.deploy.outputs.print-out }}