name: build application
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: testing...
        run: |
          npm ci
  build:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: build
        run: |
          npm build test
  deploy:
    needs: build
    uses: ./.github/workflows/reusable.yml