name: matrix-workflow
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: deploy workflow
        uses: /home/ubuntu/git/17-github-matrix/.github/workflows/reusable.yml