name: deploy

on:
  workflow_call:
    inputs:
      artifacts-name:
        description: "Artifact name to deploy"
        required: false
        type: string
        default: dist

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifacts-name }}
          path: dist

      - name: List files
        run: ls -l dist

      - name: Output information
        run: echo "Deploying and uploading"
